
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

body {
  background-color: #f1f1f1;
  color: #535353;
  font-family: 'Raleway', sans-serif;
}